.colors{
    background-color: rgb(204, 136, 236);
}
.style{
    background-color: rgba(22, 166, 233, 0.296);
}
.style1{
    background-color: rgba(255, 140, 0, 0.488);
}
.imagecolor{
    background-color: rgba(127, 8, 207, 0.51);
}

